body{
    margin: auto;
    background-image: url(../img/Retrowave\ _\ Sunset\ _\ Neon\ \(1\).jpg);
    position: absolute;
    top: 10%;
    left: 30%;
}

.contenitore{
    display: block;  
    text-align: center;
    max-width: 500px;
    max-height: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding: 50px 40px;
    background-image: url(../img/vector.jpg);
    background-size: 10%;
    margin-bottom: 40px;
    box-shadow: 15px 25px 25px black;
}

div{
    display: inline-block;
}

#num{
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: end;
    color: white;
    font-size: 1.5rem;
    border: 2px solid rgb(119, 0, 167);
    background-color: rgba(108, 0, 129, 0.925);
    text-shadow: 
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 255, 255),
    0 0 10px rgb(166, 1, 231),
    0 0 15px rgb(131, 64, 194),
    0 0 20px rgb(127, 59, 196)
    ;
    ;
    box-shadow: 
    5px 5px 1px rgb(68, 4, 128),
    5px 5px 2px rgb(66, 3, 124),
    0px 0px 3px rgb(69, 15, 119)
    ;
    
}

.btns{
    display: inline-block;
    padding: 25px;
    margin-right: 10px;
    font-size: 1.3rem;
    background-color: rgb(151, 16, 151);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 
    5px 5px 1px rgb(68, 4, 128),
    5px 5px 2px rgb(66, 3, 124),
    0px 0px 3px rgb(69, 15, 119),
    0 0 1px rgb(215, 243, 248),
    0 0 2px rgb(182, 126, 235),
    0 0 3px rgb(138, 68, 207)
    ;
    text-shadow: 
    5px 0px 1px rgb(68, 4, 128),
    5px 0px 2px rgb(66, 3, 124),
    5px 0px 3px rgb(69, 15, 119),
    0 0 1px rgb(215, 243, 248),
    0 0 2px rgb(182, 126, 235),
    0 0 3px rgb(138, 68, 207)
    ;
}

.btns:hover{
    display: inline-block;
    padding: 25px;
    margin-right: 10px;
    font-size: 1.3rem;
    background-color: rgb(179, 26, 97);
    transition: 0.7s;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 
    5px 5px 1px rgb(136, 6, 82),
    5px 5px 2px rgb(136, 6, 82),
    0px 0px 3px rgb(136, 6, 82),
    0 0 1px rgb(215, 243, 248),
    0 0 2px rgb(182, 126, 235),
    0 0 3px rgb(138, 68, 207)
    ;
    text-shadow: 
    5px 0px 1px rgb(128, 5, 121),
    5px 0px 2px rgb(128, 4, 122),
    5px 0px 3px rgb(128, 4, 122),
    0 0 1px rgb(215, 231, 248),
    0 0 2px rgb(210, 187, 231),
    0 0 3px rgb(180, 139, 221)
    ;
}

.display{
    line-height: 85px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 25px;
    padding-right: 20px;
}

#log{
    padding: 20px 15px;
}

#v{
    padding: 20px 25px;
}

#tot{
    padding: 25px 65px;
    background-color: rgb(172, 32, 172);
}

#tot:hover{
    padding: 25px 65px;
    background-color: rgb(179, 26, 97);
}

#zero{
    padding: 25px 65px;
    background-color: rgb(172, 32, 172);
}

#zero:hover{
    padding: 25px 65px;
    background-color: rgb(179, 26, 97);
}

.operatori{
    line-height: 70px;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 5px;
}

.operatori button{
    padding: 20px 28px;
}

.operatori button:hover{
    padding: 20px 28px;
}

.bottoni{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(148, 15, 97);
    transition: 0.7s;
    box-shadow: 
    5px 5px 1px rgb(131, 16, 87),
    5px 5px 2px rgb(129, 17, 86),
    0px 0px 3px rgb(136, 16, 90),
    0 0 1px rgba(248, 176, 224, 0.877),
    0 0 2px rgba(247, 181, 212, 0.925),
    0 0 3px rgba(250, 182, 202, 0.932)
    ;
    text-shadow: 
    5px 0px 1px rgb(68, 4, 128),
    5px 0px 2px rgb(66, 3, 124),
    5px 0px 3px rgb(69, 15, 119),
    0 0 1px rgb(215, 243, 248),
    0 0 2px rgb(182, 126, 235),
    0 0 3px rgb(138, 68, 207)
    ;
}

.bottoni:hover{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 16, 138);

    box-shadow: 
    5px 5px 1px rgb(89, 16, 131),
    5px 5px 2px rgb(91, 25, 129),
    0px 0px 3px rgb(68, 17, 97),
    0 0 1px rgba(229, 184, 243, 0.877),
    0 0 2px rgba(205, 170, 233, 0.925),
    0 0 3px rgba(234, 208, 247, 0.932)
    ;
    text-shadow: 
    5px 0px 1px rgb(68, 4, 128),
    5px 0px 2px rgb(66, 3, 124),
    5px 0px 3px rgb(69, 15, 119),
    0 0 1px rgb(215, 243, 248),
    0 0 2px rgb(182, 126, 235),
    0 0 3px rgb(138, 68, 207)
    ;
}
