$blu_viola: #772cf3;
$margin-co-op: 15px;
$margin-co-2: calc($margin-co-op + 10px);
$svg-background: #f5f5f5;
$roboto: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;