<!--footer versione pc-->
<div class="d-none d-lg-block">
    <div class="row footer_pc mx-0">
        <h3 class="text-center my-2">Partecipanti al progetto:</h3>
        <div class="col-3 d-flex">
            <a href="https://github.com/Gavvio" target="_blank" class="mx-auto my-2">Stefano Gavioli</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/DamTib4638" target="_blank" class="mx-auto my-2">Damiano Tiberi</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/ManuelFerrucci" target="_blank" class="mx-auto my-2">Manuel Ferrucci</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/UmbertoDiodoro" target="_blank" class="mx-auto my-2">Umberto Diodoro</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/francescopasta" target="_blank" class="mx-auto my-2">Francesco Pastore</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/Von-Matterhorn" target="_blank" class="mx-auto my-2">Matteo Mengarelli</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/domenicofrau" target="_blank" class="mx-auto my-2">Domenico Frau</a>
        </div>
        <div class="col-3 d-flex">
            <a href="https://github.com/Dame1001" target="_blank" class="mx-auto my-2">Riccardo Damiani</a>
        </div>
    </div>
</div>

<!--footer versione mobile-->
<div class="d-block d-lg-none">
    <div class="container-fluid">
        <div class="row footer_mobile">
            <h3 class="text-center my-2">Partecipanti al progetto:</h3>

            <div class="col-3 d-flex">
                <a href="https://github.com/Gavvio" target="_blank" class="mx-auto my-2">Stefano</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/DamTib4638" target="_blank" class="mx-auto my-2">Damiano</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/ManuelFerrucci" target="_blank" class="mx-auto my-2">Manuel</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/UmbertoDiodoro" target="_blank" class="mx-auto my-2">Umberto</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/francescopasta" target="_blank" class="mx-auto my-2">Francesco</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/Von-Matterhorn" target="_blank" class="mx-auto my-2">Matteo</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/domenicofrau" target="_blank" class="mx-auto my-2">Domenico</a>
            </div>
            <div class="col-3 d-flex">
                <a href="https://github.com/Dame1001" target="_blank" class="mx-auto my-2">Riccardo</a>
            </div>
        </div>
    </div>
</div>