@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');
@import 'footer';
@import 'navbar';
@import 'ulMain';
@import 'main';
@import 'articolo';
@import 'p';
@import 'body';

nav{
    @include navbar;
}

main {
    @include Main;
    div{
        form{
            padding: 10px;
            input{
                display: block;
                margin-bottom: 5px;
                &:focus{
                    outline-color: blue
                }
                &:hover{
                    cursor: pointer;
                }
            }
            textarea:focus{
                outline-color: blue;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    ul{
        @include lista;
    }
}
