@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');
@import 'footer';
@import 'navbar';
@import 'ulMain';
@import 'main';
@import 'articolo';
@import 'p';
@import 'body';

nav{
    @include navbar;
}

main {
    @include Main;
    ul{
        @include lista;
    }
    button{
        padding: 10px;
        color: white;
        font-size: 1.1rem;
        background-color: orange;
        border: 1px solid black;
    }
}