<div class="row row-cols-4 g-3 movie">
    <div class="card bg-dark m-0" *ngFor="let item of movies" style="width: 20%;">
        <img src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" alt="">
        <div class="card-body">
            <div class="card-title text-white">
                {{item.title}}
            </div>
            <div class="card-text text-white">

                <a class="" (click)="toggleFav(item.id)">
                    <i class="bi text-danger" [ngClass]="{'bi-heart' : !item.like, 'bi-heart-fill': item.like }"></i>
              </a>
            </div>
        </div>
    </div>
</div>


