<!--sezione view pc-->
<div class="d-none d-lg-block">
    <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
            <div *ngFor="let i of posts" class="carousel-item" [ngClass]="decisione==i.id ? 'active': ''">
                <div class="d-block w-100 h-50">
                    <div [ngClass]="[i.userId==1 ? 'reverendo': '', i.userId==2 ? 'plum': '',
                        i.userId==3 ? 'mustard': '', i.userId==4 ? 'peacock': '',
                        i.userId==5 ? 'joker': '',  i.userId==6 ? 'scarlet': '',
                        i.userId==7 ? 'cable': '', i.userId==8 ? 'thanos': '']"
                        class="d-flex flex-column align-items-center">
                        <h1 class="text-center mt-2" id="titolo_edit">View Post</h1>
                        <button class="btn btn-danger mx-auto align-self-start" (click)="tornaHome()">Back</button>
                        <div class="card w-50 m-3 contenitore_card ">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center">
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==1"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/2a3e7293168665.5e5e2c0261bf6.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==1">Autore: Reverendo Green</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==2"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/9c9a9793168665.5e5e2c026427f.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==2">Autore: Professor Plum</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==3"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/35652193168665.5e5e2c026478f.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==3">Autore: Capitano Mustard
                                    </p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==4"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/03f46093168665.5e5e2c02639a1.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==4">Autrice: Mrs Peacock</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==5"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/69c02824412809.60f18a08e91b9.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==5">Autore: Dr. Joker</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==6"
                                        src="https://cdn.discordapp.com/attachments/1041633323535056927/1067395070459916368/download.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==6">Autrice: Miss Scarlet</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==7"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/17a19574352001.5c2d26e21ceea.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==7">Autore: Cable</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==8"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/aa457e75012153.5c408ef77350d.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==8">Autore: Thanos</p>
                                </div>
                                <h5 class="card-title text-center fw-bold mt-2">{{ i.title | uppercase}}</h5>
                                <p class="card-text text-center">{{ i.body }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!--sezione view mobile-->
<div class="d-block d-lg-none">
    <div id="carouselExampleControls1" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
            <div *ngFor="let i of posts" class="carousel-item" [ngClass]="decisione==i.id ? 'active': ''">
                <div class="d-block w-100 h-50">
                    <div [ngClass]="[i.userId==1 ? 'reverendo': '', i.userId==2 ? 'plum': '',
                        i.userId==3 ? 'mustard': '', i.userId==4 ? 'peacock': '',
                        i.userId==5 ? 'joker': '',  i.userId==6 ? 'scarlet': '',
                        i.userId==7 ? 'cable': '', i.userId==8 ? 'thanos': '']"
                        class="d-flex flex-column align-items-center">
                        <h1 class="text-center mt-2" id="titolo_edit">View Post</h1>
                        <button class="btn btn-danger mx-auto align-self-start" (click)="tornaHome()">Back</button>
                        <div class="card w-75 m-3 contenitore_card ">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center">
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==1"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/2a3e7293168665.5e5e2c0261bf6.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==1">Autore: Reverendo Green</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==2"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/9c9a9793168665.5e5e2c026427f.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==2">Autore: Professor Plum</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==3"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/35652193168665.5e5e2c026478f.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==3">Autore: Capitano Mustard
                                    </p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==4"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/03f46093168665.5e5e2c02639a1.png"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==4">Autrice: Mrs Peacock</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==5"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/69c02824412809.60f18a08e91b9.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==5">Autore: Dr. Joker</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==6"
                                        src="https://cdn.discordapp.com/attachments/1041633323535056927/1067395070459916368/download.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==6">Autrice: Miss Scarlet</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==7"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/17a19574352001.5c2d26e21ceea.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==7">Autore: Cable</p>
                                    <img class="rounded-2 immagine_card" *ngIf="i.userId==8"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/aa457e75012153.5c408ef77350d.jpg"
                                        alt="">
                                    <p class="card-text pt-2 fw-bold" *ngIf="i.userId==8">Autore: Thanos</p>
                                </div>
                                <h5 class="card-title text-center fw-bold mt-2">{{ i.title | uppercase}}</h5>
                                <p class="card-text text-center">{{ i.body }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
                data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <app-footer></app-footer>