html {
    scroll-behavior: smooth;
}

.home {
    background-image: url(../../../assets/IMG/sfondo_legno_girato.jpg);
    background-size: contain;
    background-repeat: repeat;
}

.controllo_testo {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navbar {
    background-color: rgba(222, 184, 135, 0.4);
    position: sticky;
    border-radius: 0 0 5px 5px;
    top: 0;
    z-index: 1;
    height: 100px;
}

#navbar_mobile {
    background-color: rgba(222, 184, 135, 0.678);
    position: sticky;
    border-radius: 0 0 5px 5px;
    top: 0;
    z-index: 1;
    height: 50px;
    backdrop-filter: blur(20px);
}

#colore_navbar {
    background-color: rgba(222, 184, 135, 0.678);
}

#titolo {
    // backdrop-filter: blur(10px);
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color: rgb(23, 60, 97);
    cursor: pointer;
}

#titolo_mobile {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    color: rgb(23, 60, 97);
}

#intestazione {
    position: sticky;
    top: 100px;
    border-radius: 0 0 5px 5px;

    background-color: rgba(222, 184, 135, 0.4);
}

#btn_aggiungi_post {
    position: sticky;
    top: 80px;

    & button {
        font-size: 0.8rem;
        border-radius: 50px;
        width: 160px;
    }
}

#btn_cerca_post {
    position: sticky;
    top: 80px;

    & input {
        background-color: rgb(228, 228, 228);
        font-size: 0.8rem;
        border-radius: 50px 0 0 50px;
        width: 160px;
        padding: 5px 10px;
        border: 1px solid gray;
        border-right: 0;
    }

    & button {
        background-color: rgb(228, 228, 228);
        font-size: 0.8rem;
        border-radius: 0 50px 50px 0;
        padding: 5px 10px;
        border: 1px solid gray;
        border-left: 0;
    }
}

#btn_01 {
    &:hover {
        background-color: rgb(109, 176, 243);
    }
}

#btn_02 {
    &:hover {
        background-color: rgb(174, 174, 138);
    }
}

#btn_03 {
    &:hover {
        background-color: rgb(211, 97, 65);
    }
}

#riga {
    height: 180px;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);

    &:hover {
        background-color: rgba(222, 184, 135, 0.3);
        transform: scale(1.01);
        border-radius: 5px;
        box-shadow: 1px 1px 1px #000;
    }
}

#riga_mobile {
    height: 440px;

}

#titolo_articolo {
    text-transform: uppercase;
    font-weight: 600;
}

img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.freccia_in_alto {
    position: fixed;
    top: 20vh;
    right: 15px;
}

.freccia_in_basso {
    position: fixed;
    bottom: 20vh;
    right: 15px;
}

#freccia_giu {
    color: rgb(130, 24, 193,0.8);
    font-size: 30px;
}

#freccia_su {
    color: rgb(130, 24, 193,0.8);
    font-size: 30px;
}