<!--edit versione desktop-->
<div class="d-none d-lg-block">
    <div [ngClass]="post.userId==1 ? 'reverendo': ''" [ngClass]="post.userId==2 ? 'plum': ''"
        [ngClass]="post.userId==3 ? 'mustard': ''" [ngClass]="post.userId==4 ? 'peacock': ''"
        [ngClass]="post.userId==5 ? 'joker': ''" [ngClass]="post.userId==6 ? 'scarlet': ''"
        [ngClass]="post.userId==7 ? 'cable': ''" [ngClass]="post.userId==8 ? 'thanos': ''"
        class="d-flex flex-column align-items-center">
        <h1 class="text-center" id="titolo_edit">Edit Post</h1>
        <button class="btn btn-danger ms-5 align-self-start" (click)="tornaHome()">Back</button>
        <form class="text-center contenitore_card w-50" #form="ngForm" (ngSubmit)="modifica(form)">
            <h4>Titolo:</h4>
            <input class="p-3 border rounded form-control w-75 mx-auto" maxlength="30" name="title" type="text"
                [ngModel]='post.title' spellcheck="false">
            <h4 class="my-2">Testo:</h4>
            <textarea class="p-3 border rounded form-control w-75 mx-auto" maxlength="360" ngModel name="body" cols="30"
                rows="5" [ngModel]="post.body" spellcheck="false"></textarea>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn mt-2 pesca" type="submit">Modifica</button>
            </div>
        </form>
    </div>
</div>

<!--edit versione mobile-->
<div class="d-block d-lg-none">
    <div [ngClass]="post.userId==1 ? 'reverendo': ''" [ngClass]="post.userId==2 ? 'plum': ''"
        [ngClass]="post.userId==3 ? 'mustard': ''" [ngClass]="post.userId==4 ? 'peacock': ''"
        [ngClass]="post.userId==5 ? 'joker': ''" [ngClass]="post.userId==6 ? 'scarlet': ''"
        [ngClass]="post.userId==7 ? 'cable': ''" [ngClass]="post.userId==8 ? 'thanos': ''"
        class="d-flex flex-column align-items-center">
        <h1 class="text-center" id="titolo_edit">Edit Post</h1>
        <button class="btn btn-danger mx-auto mb-4" (click)="tornaHome()">Back</button>
        <form class="text-center contenitore_card w-75" #form1="ngForm" (ngSubmit)="modifica(form1)">
            <h4>Titolo:</h4>
            <input class="p-3 border rounded form-control w-100 mx-auto textarea_edit" maxlength="30" name="title"
                type="text" [ngModel]='post.title' spellcheck="false">
            <h4 class="my-2">Testo:</h4>
            <textarea class="p-3 border rounded form-control w-100 mx-auto textarea_edit" maxlength="360" ngModel
                name="body" cols="30" rows="5" [ngModel]="post.body" spellcheck="false"></textarea>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn my-2 pesca" type="submit">Modifica</button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>