@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

body, html {
    color: rgba(255, 255, 255, 0.884);
}

body{
    background-image: url(../Assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 22px 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#logo {
    width: 10%;
}

#tornaWelcome{
    text-decoration: none;
}

main{
    text-align: center;
}

h1{
    font-family: 'Outfit', sans-serif;
    font-size: 3.3rem;
    margin-bottom: 15px;
    margin-top: 32px;
}

p{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 45px;
}

#stelleDiv{
    margin-bottom: 60px;
    letter-spacing: 20px;
    font-size: 2.3rem;
}

.star-style{
    padding: 15px;
    width: 55px;
    height: 55px;
}

.star-style:hover{
    cursor: pointer;
}

input {
    background: transparent;
    border: none;
    display: block;
    margin: 0 auto; 
    border-bottom: 2px solid #c2128dd7;
    width: 650px;
    color: white;
    padding-bottom: 8px;
    padding-left: 20px;
}

input:focus{
    outline: none;
}

.shadow {
    text-align: center;
}

.shadow a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    background-color: #00ffff;
    text-align: center; 
    font-size: 20px;
    top: 70px;
    padding: 12px 38px;
    color: #0b113b;
    font-weight: 700;
    cursor: pointer;
}
.shadow a::before,
.shadow a::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: #00ffff;
    width: calc(100% + 4px) ;
    height: calc(100% + 4px) ;
    background-size: 400%;
    z-index: -1;
    animation: animate 20s linear infinite;
}
.shadow a::after{
    filter: blur(20px);
}
@keyframes animate
{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}